 body {
    font-style: normal;
    font-family: 'Roboto';
    letter-spacing: 0.03em;
  }
ul {
    list-style: none;
}
a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

  .logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:black;
}
.logo span {
  color: #2196f3;
}
.upnavy {
    background: #FFFFFF;
}
.upnavy-list {
    background: #FFFFFF;   
}
 .upnavy-item {
    left: 548px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    color: #212121;

 }
 .upnavy-item span {
    left: 453px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    color: #2196F3;
 }
 .upnavy-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    
    color: #2196F3;  
 }
 .upnavy-contact span {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
 }
 .mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    line-height: 1.17;

color: #2196F3;
 }
.tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    line-height: 1.17;
    color: #757575;
}
 .downside {
    background: #2F303A;
}
.downadress {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: normal;
    font-style: normal;

}
.downnavy-contact span {    
    font-size: 14px;
    line-height: 1.17;
    color: #FFFFFF;
    letter-spacing: 0.02em;

}

.downnavy-contact {
    font-size: 14px;    
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.6); 
    font-weight: normal;   
}
.downlogo {

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color:white; 
}
.downlogo span {
    color: #2196f3;
    letter-spacing: 0.03em;
    line-height: 1.17;
  }
.maintitle {

    background: #2F303A; 
}
.buybtn {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
}
.efficiency {
    background: #2F303A;
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF; 
}
.features {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;

}
.features-details {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;   
}
.profile {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}
.worker {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121; 
}
.profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
}

.allbutton:hover
.allbutton:focus {

    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    color: #212121;
    cursor: pointer;
}


.topbutton {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    color: #212121;
    cursor: pointer;

}
.topbutton:hover,
.topbutton:focus
.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.06em;
    color: #212121;    
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    color: #757575;
}
.link1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    line-height: 1.17;
    color: #2196F3;
}
.link2 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}