.body {
    background: #F5F5F5;
    font-family: 'Roboto';
    font-style: normal;
    color: #F5F4FA;
  }
  .logo {
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color:black;
}
.logo span {
  color: #2196f3;
}
 .upnavy {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    position: absolute;
    width: 643px;
    height: 18px;
    left: 480px;
    top: 49px;
 }
 .upnavy-list {
    width: 64px;
    height: 16px;
    left: 670px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #212121; 
     
 }
 .upnavy-item span {
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #2196F3;
 }
 .upnavy-contact {
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #2196F3;  
 }
 .upnavy-contact span {
        width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

color: #757575;
 }

 .downside {
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;
    background: #2F303A;
}
.downadress {
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2235px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.downnavy-contact span {    
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2205px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.downnavy-contact {
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2235px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;    
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);    
}
.downlogo {
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color:white; 
}
.downlogo span {
    color: #2196f3;
  }
.maintitle {
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
   
    background: #2F303A; 
}
.efficiency {
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF; 
}
.features {
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;

}
.features-details {
    width: 270px;   
    height: 72px;
    left: 215px;
    top: 800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    
    color: #757575;   
}
.profile {
    width: 366px;
    height: 42px;
    left: 617px;
    top: 966px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.worker {
    width: 264px;
    height: 42px;
    left: 668px;
    top: 1540px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em; 
    color: #212121;   
}
.profession {
    width: 130px;
    height: 19px;
    left: 285px;
    top: 1951px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.allbutton {
    width: 73px;
    height: 38px;
    left: 512px;
    top: 174px;
    
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 23px;
    height: 26px;
    left: 537px;
    top: 180px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
         
}
.topbutton {
    
    width: 125px;
    height: 38px;
    left: 593px;
    top: 174px; 
    background: #F5F4FA;
    border-radius: 4px;   
    width: 81px;
    height: 26px;
    left: 615px;
    top: 180px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}
.title {
    width: 322px;
    height: 36px;
    left: 239px;
    top: 576px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;    
}
.text {
    width: 322px;
    height: 30px;
    left: 239px;
    top: 1050px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575; 
}